extends layout

block content

	.container
		.jumbotron.spacer
			h1= title
			p Welcome to #{title}
		div.content
			row(class="content spacer")
				h1 Lorem ipsum
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus eros, dapibus a diam non, vehicula viverra quam. Integer faucibus, quam vitae mattis aliquet, turpis ex dignissim diam, ac condimentum eros nulla sit amet lacus. Vivamus tempor vitae lacus vel mattis. Aliquam non ornare mi. Phasellus ac diam hendrerit, euismod nisi non, pellentesque tellus. Pellentesque sed euismod odio. Sed sem leo, pharetra ut volutpat ut, ornare a sem. Praesent porta, urna at rhoncus imperdiet, turpis massa mattis ligula, nec porta tellus nunc eget ligula. Aliquam gravida, enim vitae volutpat sollicitudin, turpis urna sollicitudin augue, quis fermentum nisi ex nec erat. Cras ultricies, odio id convallis tristique, tellus elit viverra velit, ac egestas turpis nibh ut purus.
				p Proin consequat lacus odio, at pulvinar mi rhoncus non. Maecenas ultricies maximus aliquam. Proin volutpat non libero sit amet posuere. Nam vulputate dolor at eros convallis, id pretium felis vehicula. Mauris eu interdum tellus. Morbi vel ipsum urna. Aliquam erat volutpat. Nulla posuere tellus a consequat tristique.
				p Curabitur pulvinar massa sit amet libero volutpat rutrum. Phasellus aliquam sem at nisi facilisis interdum. Curabitur at libero vel enim porttitor lobortis. Nullam id diam arcu. Morbi laoreet cursus elit at dictum. Nunc sapien sem, fringilla non ex eu, suscipit placerat nisi. Phasellus quis semper risus, id mattis magna. Sed in urna quis orci molestie luctus. Proin in porttitor lectus. Maecenas ut tortor sed dui vehicula dignissim. Aenean finibus nunc non nulla facilisis, vitae luctus enim dictum. Nam congue finibus metus vitae volutpat. Maecenas at enim augue. Proin vehicula ultrices sapien, quis feugiat lacus rhoncus ut. Nunc metus ante, interdum vel molestie at, dictum sed ante. Praesent eget ultricies ante, id placerat urna.
	